/* Register.css */

.form-container {
    /* margin-top: 60px; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    flex-direction: column;
    /* background-color: white; */
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    /* background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%); */
  }
  
  .form-container form {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px 20px 30px; /* Added padding at the bottom */
    background-color: #fff;
    margin: 0; /* Ensure there is no margin around the form */
  }
  
  .form-container form .title {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 0; /* Remove margin from the top */
    font-weight: bold;
    font-family: "Playfair Display", serif;
  }
  
  .form-container form input {
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
    margin-bottom: 15px; /* Ensure there is space between inputs */
  }
  
  .form-container form button {
    border: 1px solid black;
    border-radius: 0;
    background-color: #290505;
    color: white;
    width: 100%; /* Make the button full-width */
    padding: 10px; /* Add padding for better button appearance */
    margin-top: 20px; /* Ensure there is space above the button */
  }
  
  .form-container form button:hover {
    border: 1px solid black;
    background: #000000; 
    background: -webkit-linear-gradient(to right, #434343, #000000); 
    background: linear-gradient(to right, #434343, #000000);
  }
  
  .forgot-btn {
    background-color: #434343a4 !important;
    border: 0 !important;
  }
  
  .forgot-btn:hover {
    color: white !important;
  }
